<a href="https://colab.research.google.com/github/pablo-mere-hidalgo/IntroPythonOmegaUp/blob/main/Ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas
- Las listas son secuencias ordenadas que pueden almacenar distintos tipos de objetos.
- En pocas palabras, es como una variable que puede almacenar muchas cosas wuuu.
- Se usan **[]** para indicar que es una lista y los objetos de la lista se separan por comas.
- Se les puede hacer **indexing** y **slicing**.
- Tienen **métodos** bastante útiles.

In [ ]:
# Ejemplos de listas:
# Lista de números enteros
enteros = [1,2,3]
print(enteros)
# Lista de números flotantes
flotantes = [1.1, 10.5, 2.5]
print(flotantes)
# Lista de strings
nombres = ["1", "2", "3"]
print(nombres)
# Lista mixta
mixta = ["CdCMexico", 10, 22.5]
print(mixta)

[1, 2, 3]
[1.1, 10.5, 2.5]
['1', '2', '3']
['CdCMexico', 10, 22.5]

## Indexing y Slicing

In [ ]:
# Indexing
lista_random = ["CdC", 2, 3.3, "Hola", "Bubu", 5, "Laura"]
# Imprimimos el primer elemento
print(lista_random[2])
# También lo podemos guardar en otra variable si es necesario
primer_elemento = lista_random[0]
print(primer_elemento)
# Podemos modificar las listas con esto:
lista_random[4] = "David"
print(lista_random)

3.3
CdC
['CdC', 2, 3.3, 'Hola', 'David', 5, 'Laura']

In [ ]:
# Slicing
# Imprimir los primeros dos elementos
print(lista_random[0:3])
# Guardar en una variable
otra_lista = lista_random[5:7]
print(otra_lista)

['CdC', 2, 3.3]
[5, 'Laura']

In [ ]:
# Podemos agarrar solo los índices pares
numeros = [1,2,3,4,5,6,7,8,9,10]
impares = numeros[::2]
print(impares)
# O voltearlos
voltiao = numeros[::-1]
print(voltiao)

[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Podemos sumar listas en Python (Concatenación)
lista1 = [1,2,3,4,"Rara"]
lista2 = [10.2, 3, "Otra lista rara"]
lista3 = lista2 + lista1
print(lista3)

[10.2, 3, 'Otra lista rara', 1, 2, 3, 4, 'Rara']

## Algunas funciones y métodos útiles.

In [ ]:
# len()
bubu_lista = ["Radnom", 10, 73, 35.2]
# Muchas veces vamos a necesitar el tamaño de nuestra lista, eso se hace con len()
n = len(bubu_lista)
print(n)

4

In [ ]:
# sum()
bubu_numeros = [1, 2, 3, 4, 10.5]
# Si queremos obtener la suma de todos los elementos de la lista usamos sum()
suma = sum(bubu_numeros)
print(suma)

20.5

In [ ]:
# Esto es un error, no se pueden sumar las cadenas con esta función.
new_list = ["Hola", "Adios"]
sum(new_list)

TypeError: ignored

## Agregar elementos a una lista.

In [ ]:
lista = ["CdC", 2, 3.3, "Hola", "Bubu", 5, "Laura"]
# Append
lista.append([73,"Lista de listas"])
print(lista)
# Insert
lista.insert(1, "segunda posicion")
print(lista)

['CdC', 2, 3.3, 'Hola', 'Bubu', 5, 'Laura', [73, 'Lista de listas']]
['CdC', 'segunda posicion', 2, 3.3, 'Hola', 'Bubu', 5, 'Laura', [73, 'Lista de listas']]

## Eliminando cosas de una lista

In [ ]:
# Pop
lista.pop()
print(lista)
# Podemos guardar lo que pop nos regresa
item_eliminado = lista.pop()
print(item_eliminado)
print(lista)
# Podemos específicar la posición del popeo
lista.pop(3)
print(lista)

['CdC', 'segunda posicion', 2, 3.3, 'Hola', 'Bubu']
Bubu
['CdC', 'segunda posicion', 2, 3.3, 'Hola']
['CdC', 'segunda posicion', 2, 'Hola']

## Ordenar cosas

In [ ]:
numeros = [1, 5, 2, 9, 10, 8, 5]
letras = ['x', 'a', 'b', 'y', 'u']
# sort() NO REGRESA NADA
numeros.sort()
letras.sort()
print(numeros)
print(letras)

[1, 2, 5, 5, 8, 9, 10]
['a', 'b', 'u', 'x', 'y']

# Tuplas
- Las tuplas son parecidas a las listas. 
- Se diferencían en que las tuplas son inmutables. Es decir, una vez que un elemento está dentro de una tupla, no puede ser reasignada.
- Usan paréntesis **()**

In [ ]:
# Ejemplo
tupla = (1,2,3,4,5)
lista = [1,2,3,4,5]
# Las listas sí se pueden modificar
lista[0] = 0
print(lista)
# Pero las tuplas no
tupla[0] = 0

[0, 2, 3, 4, 5]

TypeError: ignored

In [ ]:
# Aún así, podemos hacer indexing o slicing
print(tupla[-1])
print(tupla[::2])
# Y realmente todo lo que hacen con listas se puede hacer con tuplas

5
(1, 3, 5)

## Count() e Index()

In [ ]:
t = ('Bubu', 'Laura', 'Missa', 'Bubu')
# .count()
bubus = t.count("Bubu")
print(bubus)
# .index
index = t.index("Bubu")
print(index)

2
0

# Diccionarios

In [ ]:
# Creamos un diccionario simple
diccionario = {"key1":"value1", "key2":"value2"}
# Una manera más "bonita" de crear diccionarios
diccionario = {
    "key1":"value1",
    "key2":"value2"
}
print(diccionario)
# Para agarrar valores
print(diccionario['key2'])

{'key1': 'value1', 'key2': 'value2'}
value2

In [ ]:
# Las "keys" pueden tener el nombre que ustedes quieran y 
# los valores pueden ser cualquier objeto que ya vimos antes
precios = {
    "manzana":7,
    "agua":10.5,
    "takis": 12,
    "doritos": 12
}

# Hey! quiero saber cuánto cuestan los taki taki rumba
print(precios['takis'])
print(precios['manzana'])

12
7

In [ ]:
# Puedes hacer diccionarios de listas y diccionarios de diccionarios!
d = {
    "k1":[1,2,3,4],
     "d1": {"k11":"Hola", "k12":"Adios"}
}
# Para acceder a esos datos podemos hacer lo siguiente
print(d["k1"])
print(d["d1"])
print(d["k1"][-1])
print(d["d1"]["k12"])

# Esto es útil cuando trabajas con API's y algunas otras cosas.

[1, 2, 3, 4]
{'k11': 'Hola', 'k12': 'Adios'}
4
Adios

## Agregar cosas a diccionarios

In [ ]:
# Digamos que 
d = {"k1":100, "k2":200}
print(d)
# Queremos meter un k3 que valta 300 por ejemplo:
d['k3'] = 300
print(d)

{'k1': 100, 'k2': 200}
{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
# También podemos sustiuir lo que ya teníamos
d["k1"] = "hola"
print(d)

{'k1': 'hola', 'k2': 200, 'k3': 300}

## Métodos especiales para diccionarios

In [ ]:
# keys()
print(d.keys())
# values()
print(d.values())
# items()
print(d.items())

dict_keys(['k1', 'k2', 'k3'])
dict_values(['hola', 200, 300])
dict_items([('k1', 'hola'), ('k2', 200), ('k3', 300)])

# Conjuntos

In [ ]:
# Conjunto básico
conjunto = {10,12,'a',10,'b','a'}
# Elementos únicos
print(conjunto)
# Podemos ver que se imprime en un orden distinto (normal) y solo se imprimen elementos únicos.

{10, 'a', 12, 'b'}

In [ ]:
# Ejemplo: (Edades de alumnos)
edades = [12, 12, 8, 6, 9, 8]
edades = set(edades)
edades = list(edades)
edades.sort()
print(edades[::-1])
# Lo puedo volver a convertir a lista y luego ordenarlo
# ¡Lo van a usar para un problema más adelante!

[12, 9, 8, 6]

In [ ]:
# problema
nombres = input().split(" ")
print(len(nombres))

Laura Bubu Rodo Missa Zaid David Regina
7